.canvas {
  display: flex;
  margin-top: 85vh;
  margin-left: 20vw;
}

.canvasdesc {
  margin-top: 10vh;
}

.canvasdesc p {
  width: 25vw;
}

.canvas img {
  margin-left: 12vw;
  height: 55vh;
}

.contact p{
    width: 25vw;
    height: 10vh;
}

.contact{
    margin-top: 30vh;
    margin-left: 20vw;
    display: flex;
}

.contact img{
    height: 50vh;
}

.contactDesc{
    margin-left: 13vw;
    margin-top: 10vh;
}


.signcntr{
  filter: contrast(220%) brightness(200%);
  background: radial-gradient(
      circle at 60% 71%,
      rgba(30, 30, 179, 1),
      rgba(255, 255, 255, 0)
    ),
  url("data:image/svg+xml,%3Csvg viewBox='0 22 262 262' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4.75' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    width: 40vw;
    height: 25vw;
    border-radius: 10px;
    margin-top: 50vh;
    margin-left: 20vw;
}

.fsignup{
    text-decoration: none;
    border: 1px solid black;
    width: 20vw;
    height: 11vh;
    padding: 10px;
}

.signcntr h1{
    margin-top: 28vh;
    margin-left: 22vw;
}

